<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction Result</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/result.css">
</head>
<body>

<header>
    <div class="logo">
        <a href="/" class="logo">
            <img src="../static/images/logo1.png" alt="Logo">
        </a>
    </div>
    <button id="toggleNavbar" class="navbar-toggle">☰</button>
    <nav class="navbar" id="navbar">
        <button id="closeNavbar" class="close-icon">×</button>
    </nav>
</header>

<div class="card-group">
    <div class="card">
        <div class="collections container border rounded shadow">
            <div class="content">
                <div style="margin-top: 30px; margin-left: -27px;">
                    <div id="prediction-result" style="margin-top: 10px; margin-left: 40px; text-align: center;">
                        <p>The predicted gender is : {{ predicted_class_logistic_regression }}</p>
                        <img src="{{ image_url }}" alt="Uploaded Image" style="max-width: 280px; height: auto; display: block; margin: 10px auto;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="footer-container container"></div>
    <div class="f-design">
        <div class="f-design-txt container">
            <p>2024 Gender Classification </p>
        </div>
    </div>
</footer>

<script src="/static/js/script.js"></script>
</body>
</html>
